.exercise {
    margin-bottom: 80px;
}

.title-exercise {
    text-align: center;
    font-size: 34px;
    margin: 10px 10px 30px 10px;
}
.developed-by {
    text-align: right;
}
.download-button {
    display: block;
    text-decoration: none;
    background-color: #3f6b8c;
    line-height: 46px;
    border-radius: 3px;
    text-align: center;
    width: 240px;
    text-align: center;
    float: right;
    color: #fff;
}
.download-button.red {
    background-color: orangered;
}
.divider {
    clear: both;
    display: block;
}